<div class="block">
	<ul class="right">
		<li><% if current_user.is_admin_for(s.id) -%><%= link_to 'edit', edit_share_path(s) -%><% end -%></li>
		<li><% if current_user.is_admin_for(s.id) %><%= link_to 'invite people', new_share_invite_path(s) %><% end %></li>
	</ul>
	<p>
		<%= link_to s.name, share_path(s) %>
	</p>
	<p>
	<% if (owes = s.calculate_total_for_user(current_user)) >0 -%>
		<span class="red_bg">You owe <%= number_to_currency(owes.abs / Float(100), :precision => 2, :unit => "&pound;") %></span>
	<% else -%>
		<span class="green_bg">You are owed <%= number_to_currency(owes.abs / Float(100), :precision => 2, :unit => "&pound;") %></span>
	<% end -%>
	</p>
</div>