<div class="block">
	<ul class="right">
		<li><% if current_user.is_admin_for(s.id) %><%= link_to '<span>invite people</span>', new_share_invite_path(s), :class=>"invite_link" %><% end %></li>
		<li><% if current_user.is_admin_for(s.id) -%><%= link_to '<span>edit</span>', edit_share_path(s), :class=>"edit_link" -%><% end -%></li>
	</ul>
	<p>
		<%= link_to s.name, share_path(s) %>
	</p>
	<p>
	<% if (owes = s.calculate_total_for_user(current_user)) >0 -%>
		<span class="red">You owe <%= number_to_currency(owes.abs / Float(100), :precision => 2, :unit => "&pound;") %></span>
	<% else -%>
		<span class="green">You are owed <%= number_to_currency(owes.abs / Float(100), :precision => 2, :unit => "&pound;") %></span>
	<% end -%>
	</p>
</div>