<h1>Edit <%= @share.name %></h1>
 
<% form_for @share do |f| %>
  <%= f.error_messages %>
  <%= render :partial => "form", :object => f %>
  <%= f.submit "Update" %> <%= link_to "cancel", session[:return_to] || shares_path %>
<% end %>