<% content_for :sidebar do %>
<div id="sidebar_wrapper">
	<div id="sidebar">
		<h2>members</h2>
		<ul class="members">
		<%	current_share.users.each do |u| %>
			<%= format_sidebar_share_member(current_share,u) %>
		<% end %>
		</ul>
	</div>
	<%= link_to '<span class="payments">Request payments</span>', request_payment_path(current_share) %>
	<% if current_user.is_admin_for(current_share.id) -%>
		<%= link_to 'edit group', edit_share_path(current_share) -%>
		<%= link_to 'invite people', new_share_invite_path(current_share) %>
	<% end %>
</div>
<% end %>

<h1><%= current_share.name %><span class="small light right"><%= number_to_currency(current_share.total / Float(100), :precision => 2, :unit => "&pound;") %></span></h1>
<%= link_to 'add an item', new_share_item_path(current_share.id) %> | 
<%= link_to 'add a payment', new_share_payment_path(current_share.id) %>
<% @share_elements.reverse.each do |item| -%>
	<% if (item.payee rescue false) -%>
		<%= render :partial => "payments/payment_details", :locals =>{:p => item} %>
	<% else -%>
		<%= render :partial => "items/item_details", :locals =>{ :i => item} %>
	<% end -%>
<% end -%>