<div id="content">
	<h1>edit</h1>
	
	<% form_for @payment, :url => share_payment_path(current_share.id,@payment) do |f| %>
		<%= f.error_messages %>
		<%= f.label :value %><%= f.text_field :value, :class=>'input',:value=>@payment.value / Float(100) %>
		<%= f.submit "Update" %>
	<% end %>
	
	<%= link_to "Cancel", share_path(@payment.share) %>
</div>