<% content_for :sidebar do -%>
<div id="sidebar_wrapper">
	<div id="sidebar">
		<h2>Not a member yet?</h2>
		<h3 class="green">Create an account</h3>
		<p>
			Billspike helps you <span class='green'>track expenses</span> in your group.
			<span class="green">It’s easy and it’s free!</span>
			<%= link_to 'Sign up now', new_user_path, :class=>'green' %>
		</p>
	</div>
</div>
<% end -%>
<div id="content">
	<h1>Login</h1>
	<% if flash[:notice] %>
	  <div id="notice"><%= flash[:notice] %></div>
	<% end %>
	
	<% form_for @user_session, :url => login_path do |f| %>
	  <%= error_messages_for :user_session, :header_message => "", :message => "" %>
	  <%= f.label :email %>
	  <%= f.text_field :email, :class=>'input' %>
	  <%= f.label :password %>
	  <%= f.password_field :password, :class=>'input' %>
	  <%= f.submit "Login" %>
	<% end %>
</div>